In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df=pd.read_csv("earthquake.csv",sep=',')

In [3]:
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [4]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [5]:
df.tail()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [6]:
df.Time

0        13:44:18
1        11:29:49
2        18:05:58
3        18:49:43
4        13:32:50
           ...
23407    08:22:12
23408    09:13:47
23409    12:38:51
23410    22:30:19
23411    20:08:28
Name: Time, Length: 23412, dtype: object

In [8]:
df.Time

0        13:44:18
1        11:29:49
2        18:05:58
3        18:49:43
4        13:32:50
           ...
23407    08:22:12
23408    09:13:47
23409    12:38:51
23410    22:30:19
23411    20:08:28
Name: Time, Length: 23412, dtype: object

In [9]:
df["Time"]

0        13:44:18
1        11:29:49
2        18:05:58
3        18:49:43
4        13:32:50
           ...
23407    08:22:12
23408    09:13:47
23409    12:38:51
23410    22:30:19
23411    20:08:28
Name: Time, Length: 23412, dtype: object

In [11]:
df.shape # It return as how many rows and columns in a given data set

(23412, 21)

In [18]:
row,cols=df.shape   # It also access the number of row and columns

In [19]:
print(row)

23412

In [20]:
#cols
print(cols)

21

In [22]:
df.size  #size of the data set

491652

In [27]:
df.sample()  # To Access the any one randomlly selected the data set value

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
13002,04/22/1996,11:27:56,29.797,129.051,Earthquake,196.9,NaN,NaN,5.6,MWC,...,NaN,NaN,NaN,NaN,1.0,USP0007GFQ,US,US,HRV,Reviewed

In [35]:
df.sample(5)  # Here to print the 5 samples randomlly

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
5086,02/20/1979,06:32:32,40.232,143.703,Earthquake,10.0,NaN,NaN,6.4,MS,...,NaN,NaN,NaN,NaN,NaN,USP0000YXM,US,US,US,Reviewed
22347,08/20/2014,10:14:16,32.636,47.736,Earthquake,17.7,3.4,NaN,5.6,MWB,...,59.0,NaN,NaN,4.0,0.85,USB000S4IF,US,TEH,US,Reviewed
18801,12/22/2007,07:11:08,-2.407,139.067,Earthquake,20.0,NaN,280.0,6.2,MWC,...,NaN,16.5,NaN,NaN,1.22,USP000FV00,US,US,GCMT,Reviewed
19823,12/24/2009,00:23:31,42.126,135.008,Earthquake,395.0,NaN,NaN,5.7,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM17576175,ISCGEM,ISCGEM,ISCGEM,Automatic
15371,04/20/2001,19:20:51,-7.560,155.955,Earthquake,10.0,NaN,141.0,5.6,MWC,...,NaN,NaN,NaN,NaN,1.07,USP000ADPM,US,US,HRV,Reviewed

In [40]:
df.sample(random_state=1)  # Here to print the only one value ,it can not change the value

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
15555,09/20/2001,02:01:52,-11.375,115.042,Earthquake,10.0,NaN,216.0,5.6,MWC,...,NaN,NaN,NaN,NaN,1.09,USP000APG9,US,US,HRV,Reviewed

In [43]:
df.sample(10,random_state=1)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
15555,09/20/2001,02:01:52,-11.3750,115.0420,Earthquake,10.00,NaN,216.0,5.6,MWC,...,NaN,NaN,NaN,NaN,1.09,USP000APG9,US,US,HRV,Reviewed
8994,05/05/1988,22:32:49,-26.6490,-113.6640,Earthquake,10.00,NaN,NaN,6.1,MW,...,NaN,NaN,NaN,NaN,1.20,USP0003FPN,US,US,HRV,Reviewed
19205,10/07/2008,10:00:48,79.8170,-115.4480,Earthquake,10.00,NaN,497.0,5.7,MWC,...,NaN,23.1,NaN,NaN,1.07,USP000GJMM,US,US,US,Reviewed
9937,04/18/1990,17:06:18,1.2630,122.9840,Earthquake,35.30,NaN,NaN,5.7,MB,...,45.0,NaN,NaN,NaN,1.10,USP000483X,US,US,US,Reviewed
14760,03/10/2000,16:22:47,-8.7010,106.3790,Earthquake,33.00,NaN,NaN,5.5,MWB,...,NaN,NaN,NaN,NaN,1.17,USP0009PHB,US,US,US,Reviewed
21916,10/06/2013,21:33:20,-36.7267,-97.4761,Earthquake,10.28,1.7,NaN,6.2,MWW,...,NaN,41.0,20.626,NaN,1.33,USB000K7S0,US,US,US,Reviewed
21172,02/23/2012,05:08:13,-17.6990,-13.1930,Earthquake,10.00,NaN,112.0,5.5,MWC,...,NaN,48.8,NaN,NaN,1.03,USP000JF8T,US,US,GCMT,Reviewed
19296,12/10/2008,13:15:34,-12.3370,166.5720,Earthquake,51.00,NaN,195.0,6.0,MWB,...,NaN,28.2,NaN,NaN,0.88,USP000GQBD,US,US,US,Reviewed
20716,04/05/2011,04:10:07,-17.6620,-178.5950,Earthquake,552.40,NaN,344.0,5.8,MWB,...,NaN,21.7,NaN,NaN,0.79,USP000HZA0,US,US,US,Reviewed
16866,07/29/2004,13:23:03,12.4450,95.0030,Earthquake,24.10,NaN,235.0,5.6,MWB,...,NaN,77.3,NaN,NaN,0.69,USP000D12S,US,US,US,Reviewed

In [45]:
df.Longitude.unique() # return the unique values in the Longitude column

array([ 145.616 ,  127.352 , -173.972 , ...,  140.4262,  118.6639,
        141.4103])

In [51]:
df.Date.unique()

array(['01/02/1965', '01/04/1965', '01/05/1965', ..., '12/28/2016',
       '12/29/2016', '12/30/2016'], dtype=object)

In [53]:
len(df.Date.unique())   # the length of the unique values in the Data column

12401

In [54]:
df.nunique()  # unique values each column

Date                          12401
Time                          20472
Latitude                      20676
Longitude                     21474
Type                              4
Depth                          3485
Depth Error                     297
Depth Seismic Stations          736
Magnitude                        64
Magnitude Type                   10
Magnitude Error                 100
Magnitude Seismic Stations      246
Azimuthal Gap                  1109
Horizontal Distance            1448
Horizontal Error                186
Root Mean Square                190
ID                            23412
Source                           13
Location Source                  48
Magnitude Source                 24
Status                            2
dtype: int64

In [58]:
df.isna()  # here it returns the null value is True,otherwise False

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23409,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23410,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23411,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [59]:
df.isna().any

<bound method NDFrame._add_numeric_operations.<locals>.any of         Date   Time  Latitude  Longitude   Type  Depth  Depth Error  \
0      False  False     False      False  False  False         True
1      False  False     False      False  False  False         True
2      False  False     False      False  False  False         True
3      False  False     False      False  False  False         True
4      False  False     False      False  False  False         True
...      ...    ...       ...        ...    ...    ...          ...
23407  False  False     False      False  False  False        False
23408  False  False     False      False  False  False        False
23409  False  False     False      False  False  False        False
23410  False  False     False      False  False  False        False
23411  False  False     False      False  False  False        False

       Depth Seismic Stations  Magnitude  Magnitude Type  ...  \
0                        True      False           False  ...
1                        True      False           False  ...
2                        True      False           False  ...
3                        True      False           False  ...
4                        True      False           False  ...
...                       ...        ...             ...  ...
23407                   False      False           False  ...
23408                   False      False           False  ...
23409                    True      False           False  ...
23410                    True      False           False  ...
23411                    True      False           False  ...

       Magnitude Seismic Stations  Azimuthal Gap  Horizontal Distance  \
0                            True           True                 True
1                            True           True                 True
2                            True           True                 True
3                            True           True                 True
4                            True           True                 True
...                           ...            ...                  ...
23407                       False          False                False
23408                       False          False                False
23409                        True          False                False
23410                        True          False                False
23411                       False          False                False

       Horizontal Error  Root Mean Square     ID  Source  Location Source  \
0                  True              True  False   False            False
1                  True              True  False   False            False
2                  True              True  False   False            False
3                  True              True  False   False            False
4                  True              True  False   False            False
...                 ...               ...    ...     ...              ...
23407              True             False  False   False            False
23408              True             False  False   False            False
23409             False             False  False   False            False
23410             False             False  False   False            False
23411             False             False  False   False            False

       Magnitude Source  Status
0                 False   False
1                 False   False
2                 False   False
3                 False   False
4                 False   False
...                 ...     ...
23407             False   False
23408             False   False
23409             False   False
23410             False   False
23411             False   False

[23412 rows x 21 columns]>

In [60]:
df.isnull()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23409,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23410,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23411,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [66]:
df.isnull().mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of         Date   Time  Latitude  Longitude   Type  Depth  Depth Error  \
0      False  False     False      False  False  False         True
1      False  False     False      False  False  False         True
2      False  False     False      False  False  False         True
3      False  False     False      False  False  False         True
4      False  False     False      False  False  False         True
...      ...    ...       ...        ...    ...    ...          ...
23407  False  False     False      False  False  False        False
23408  False  False     False      False  False  False        False
23409  False  False     False      False  False  False        False
23410  False  False     False      False  False  False        False
23411  False  False     False      False  False  False        False

       Depth Seismic Stations  Magnitude  Magnitude Type  ...  \
0                        True      False           False  ...
1                        True      False           False  ...
2                        True      False           False  ...
3                        True      False           False  ...
4                        True      False           False  ...
...                       ...        ...             ...  ...
23407                   False      False           False  ...
23408                   False      False           False  ...
23409                    True      False           False  ...
23410                    True      False           False  ...
23411                    True      False           False  ...

       Magnitude Seismic Stations  Azimuthal Gap  Horizontal Distance  \
0                            True           True                 True
1                            True           True                 True
2                            True           True                 True
3                            True           True                 True
4                            True           True                 True
...                           ...            ...                  ...
23407                       False          False                False
23408                       False          False                False
23409                        True          False                False
23410                        True          False                False
23411                       False          False                False

       Horizontal Error  Root Mean Square     ID  Source  Location Source  \
0                  True              True  False   False            False
1                  True              True  False   False            False
2                  True              True  False   False            False
3                  True              True  False   False            False
4                  True              True  False   False            False
...                 ...               ...    ...     ...              ...
23407              True             False  False   False            False
23408              True             False  False   False            False
23409             False             False  False   False            False
23410             False             False  False   False            False
23411             False             False  False   False            False

       Magnitude Source  Status
0                 False   False
1                 False   False
2                 False   False
3                 False   False
4                 False   False
...                 ...     ...
23407             False   False
23408             False   False
23409             False   False
23410             False   False
23411             False   False

[23412 rows x 21 columns]>

In [68]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         Date   Time  Latitude  Longitude   Type  Depth  Depth Error  \
0      False  False     False      False  False  False         True
1      False  False     False      False  False  False         True
2      False  False     False      False  False  False         True
3      False  False     False      False  False  False         True
4      False  False     False      False  False  False         True
...      ...    ...       ...        ...    ...    ...          ...
23407  False  False     False      False  False  False        False
23408  False  False     False      False  False  False        False
23409  False  False     False      False  False  False        False
23410  False  False     False      False  False  False        False
23411  False  False     False      False  False  False        False

       Depth Seismic Stations  Magnitude  Magnitude Type  ...  \
0                        True      False           False  ...
1                        True      False           False  ...
2                        True      False           False  ...
3                        True      False           False  ...
4                        True      False           False  ...
...                       ...        ...             ...  ...
23407                   False      False           False  ...
23408                   False      False           False  ...
23409                    True      False           False  ...
23410                    True      False           False  ...
23411                    True      False           False  ...

       Magnitude Seismic Stations  Azimuthal Gap  Horizontal Distance  \
0                            True           True                 True
1                            True           True                 True
2                            True           True                 True
3                            True           True                 True
4                            True           True                 True
...                           ...            ...                  ...
23407                       False          False                False
23408                       False          False                False
23409                        True          False                False
23410                        True          False                False
23411                       False          False                False

       Horizontal Error  Root Mean Square     ID  Source  Location Source  \
0                  True              True  False   False            False
1                  True              True  False   False            False
2                  True              True  False   False            False
3                  True              True  False   False            False
4                  True              True  False   False            False
...                 ...               ...    ...     ...              ...
23407              True             False  False   False            False
23408              True             False  False   False            False
23409             False             False  False   False            False
23410             False             False  False   False            False
23411             False             False  False   False            False

       Magnitude Source  Status
0                 False   False
1                 False   False
2                 False   False
3                 False   False
4                 False   False
...                 ...     ...
23407             False   False
23408             False   False
23409             False   False
23410             False   False
23411             False   False

[23412 rows x 21 columns]>

In [70]:
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [74]:
df.nsmallest(1,"Magnitude")

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
12,01/29/1965,09:35:30,54.636,161.703,Earthquake,55.0,NaN,NaN,5.5,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM861461,ISCGEM,ISCGEM,ISCGEM,Automatic

In [76]:
df.nlargest(1,"Magnitude")

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
17083,12/26/2004,00:58:53,3.295,95.982,Earthquake,30.0,NaN,601.0,9.1,MW,...,NaN,22.0,NaN,NaN,1.17,OFFICIAL20041226005853450_30,OFFICIAL,US,OFFICIAL,Reviewed

In [77]:
df.loc[:]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [82]:
df.loc[::,::]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [84]:
df.loc[::]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [86]:
df.loc[43,['Latitude','Longitude']]

Latitude      52.057
Longitude    174.116
Name: 43, dtype: object

In [88]:
df.loc[43,'Latitude']

52.057

In [93]:
df.iloc[[0,1,2,3,4],-18] #  here iloc is consider the index values

0    145.616
1    127.352
2   -173.972
3    -23.557
4    126.427
Name: Longitude, dtype: float64

In [94]:
df.iloc[:]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [104]:
df.iloc[1::-4]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic

In [108]:
df.iloc[::-1]  #here the row are descending order

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic

In [109]:
df.iloc[::-1,::-1]

,Status,Magnitude Source,Location Source,Source,ID,Root Mean Square,Horizontal Error,Horizontal Distance,Azimuthal Gap,Magnitude Seismic Stations,...,Magnitude Type,Magnitude,Depth Seismic Stations,Depth Error,Depth,Type,Longitude,Latitude,Time,Date
23411,Reviewed,US,US,US,US10007NTD,0.9100,4.5,0.681,97.00,428.0,...,MB,5.5,NaN,2.2,11.94,Earthquake,141.4103,37.3973,20:08:28,12/30/2016
23410,Reviewed,US,US,US,US10007NL0,1.4300,6.0,3.553,26.00,NaN,...,MWW,6.3,NaN,1.8,79.00,Earthquake,118.6639,-9.0283,22:30:19,12/29/2016
23409,Reviewed,US,US,US,US10007NAF,1.5200,4.8,0.992,91.00,NaN,...,MWW,5.9,NaN,1.8,10.00,Earthquake,140.4262,36.9179,12:38:51,12/28/2016
23408,Reviewed,NN,NN,NN,NN00570744,0.2187,NaN,0.129,48.58,18.0,...,ML,5.5,33.0,2.0,8.80,Earthquake,-118.8957,38.3777,09:13:47,12/28/2016
23407,Reviewed,NN,NN,NN,NN00570710,0.1898,NaN,0.120,42.47,18.0,...,ML,5.6,40.0,1.2,12.30,Earthquake,-118.8941,38.3917,08:22:12,12/28/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Automatic,ISCGEM,ISCGEM,ISCGEM,ISCGEM860890,NaN,NaN,NaN,NaN,NaN,...,MW,5.8,NaN,NaN,15.00,Earthquake,126.4270,11.9380,13:32:50,01/09/1965
3,Automatic,ISCGEM,ISCGEM,ISCGEM,ISCGEM860856,NaN,NaN,NaN,NaN,NaN,...,MW,5.8,NaN,NaN,15.00,Earthquake,-23.5570,-59.0760,18:49:43,01/08/1965
2,Automatic,ISCGEM,ISCGEM,ISCGEM,ISCGEM860762,NaN,NaN,NaN,NaN,NaN,...,MW,6.2,NaN,NaN,20.00,Earthquake,-173.9720,-20.5790,18:05:58,01/05/1965
1,Automatic,ISCGEM,ISCGEM,ISCGEM,ISCGEM860737,NaN,NaN,NaN,NaN,NaN,...,MW,5.8,NaN,NaN,80.00,Earthquake,127.3520,1.8630,11:29:49,01/04/1965
0,Automatic,ISCGEM,ISCGEM,ISCGEM,ISCGEM860706,NaN,NaN,NaN,NaN,NaN,...,MW,6.0,NaN,NaN,131.60,Earthquake,145.6160,19.2460,13:44:18,01/02/1965